# Don't push all the modules (especially the bloated electron)
node_modules/

# Also disinclude the package-lock file
package-lock.json
yarn.lock

# And remove the dist folder plz
dist/

# Don't leak our api key to the world
api_key

.directory
